<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Boot Webapp</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <div class="main">
        <div class="row">
            <a href="/images/cool_dog.jpg"><img src="/images/cool_dog.jpg" alt=""></a>
            <a href="/images/cool_dog.png"><img src="/images/cool_dog.png" alt=""></a>
        </div>
        <div class="row">
            <a href="/assets/raw.txt">Raw Text FIle</a>
        </div>
    </div>
</body>
</html>